<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC2g9BNceSju5kU19kJjtC6VczEs129sLQ</string>
	<key>GCM_SENDER_ID</key>
	<string>203503274066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.truDawsonProject</string>
	<key>PROJECT_ID</key>
	<string>tru-dawson-project-2023</string>
	<key>STORAGE_BUCKET</key>
	<string>tru-dawson-project-2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:203503274066:ios:d90f78b5420cdb0986378b</string>
</dict>
</plist>